<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <oe_hreflang>
            <general>
                <type>local</type>
                <alternate_mirror>1</alternate_mirror>
            </general>
        </oe_hreflang>
    </default>
</config>
