<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_render_before">
        <observer name="meta_tags_noindex_if_filtered" instance="OuterEdge\Hreflang\Observer\MetaTags" />
    </event>
</config>
